.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.task-card {
    margin-top: 2rem;
    border: 2px solid #202632;
    padding: 2rem;
    border-radius: 5px;
}
.invalid, .delete {
    background-color: #d11040;
    border: 0;
}
button, a {
    font-weight: bold;
}
ul li {
    list-style: none;
}

i {
    color: #F92F60;
    padding: 0 0 1rem 0;
    font-style: normal;
}

kbd {
    color: #fff;
    background-color: #202632;
    text-align: center;
    margin-bottom: 2rem;
}

.task-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.task-card div{
    margin-top: auto;
}

.validated button{
    display: none;
}

.validated i{
    color: #00D26A;
}